<!-- Page Content -->
<div class="container">

	<!-- Page Heading -->
	<h1 class="my-3">
		Contesting Candidate's List
	</h1>
	<hr>
	<br>
	<div class="col-md-10">
		<!-- Candidate One -->
		<div class="row">
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<h3>Candidate One</h3>
				<ul>
					<li>Candidate Party Name</li>
					<li>Candidate Name</li>
					<li>Candidate Age</li>
					<li>Candidate Qualification</li>
					<li>Candidate Campaign Description</li>
				</ul>
				<a class="btn btn-primary" href="#">Cast/Update Vote</a>
			</div>
		</div>
		<!-- /.row -->

		<hr>

		<!-- Candidate Two -->
		<div class="row">
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<h3>Candidate Two</h3>
				<ul>
					<li>Candidate Party Name</li>
					<li>Candidate Name</li>
					<li>Candidate Age</li>
					<li>Candidate Qualification</li>
					<li>Candidate Campaign Description</li>
				</ul>
				<a class="btn btn-primary" href="#">Cast/Update Vote</a>
			</div>
		</div>
		<!-- /.row -->

		<hr>

		<!-- Candidate Three -->

		<div class="row">
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<h3>Candidate Three</h3>
				<ul>
					<li>Candidate Party Name</li>
					<li>Candidate Name</li>
					<li>Candidate Age</li>
					<li>Candidate Qualification</li>
					<li>Candidate Campaign Description</li>
				</ul>
				<a class="btn btn-primary" href="#">Cast/Update Vote</a>
			</div>
		</div>
		<!-- /.row -->

		<hr>

		<!-- Candidate Four -->
		<div class="row">
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<a href="#">
					<img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/200x200" alt="">
				</a>
			</div>
			<div class="col-md-4">
				<h3>Candidate Four</h3>
				<ul>
					<li>Candidate Party Name</li>
					<li>Candidate Name</li>
					<li>Candidate Age</li>
					<li>Candidate Qualification</li>
					<li>Candidate Campaign Description</li>
				</ul>
				<a class="btn btn-primary" href="#">Cast/Update Vote</a>
			</div>
		</div>
		<!-- /.row -->

		<hr>
	</div>
</div>
<!-- /.container -->
