.box-heading {
	background-color: #009688;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 10px 10px 10px 10px;
	font-size: large;
	color: #F5F5F5;
	width: 100%;
	height: 100%;
}

.box-inner-body {
	background-color: #ECEFF1;
	width: 100%;
	height: 100%;
}

.dashboard-body-text {
	margin-left: 10px;
	height: 100%;
}

